[2017-01-29 13:55] victorb opened #1 "Setting up Jenkins with configuration from SCM"
# Acceptance Criteria

* [x] Can run jenkins locally by reading documentation only
* [X] There is a repository for jenkins configuration
* [x] The UI in jenkins does not allow modifications unless logged in
* [x] The UI in jenkins allows access to anyone for viewing

# Tasks
- [X] Create a new repository in the ipfs organization
- [x] Put the initial configuration
    - [x] read-only UI
- [x] Docu

[2017-01-29 13:58] victorb opened #2 "Setting up monitoring/alerts"
# Acceptance Criteria

* [x] Can view jenkins monitoring dashboards
* [x] Can deploy changes to monitoring by reading the documentation
* [x] Will get alerts if certain metrics goes under the threshold

# Tasks

- [x] checkout Prometheus integration for jenkins and apply if possible
- [x] Connect to existing Prometheus deployment
- [x] Setup dashboard
- [x] Setup alerts

# Dependencies

Depends on

[2017-01-29 14:02] victorb opened #3 "Simulate failures of the Testing Infrastructure"
# Description

To make sure we can quickly restart jenkins and workers, and that the alerts are working, we'd like to have simulated failures we can use as testing.

# Acceptance Criteria

* [ ] Can simulate failure easily
* [ ] Simulated failures happens on a regular interval
* [ ] When failures happen, we get alerted

# Tasks

- [ ] Find way to kill Jenkins master
- [ ] Find way to kill workers

[2017-01-29 14:06] victorb opened #4 "go-ipfs/js-ipfs/js-ipfs-api unit and integration tests"
# Acceptance Criteria

* [ ] When new commit happens in repository, jenkins should run the necessary tests and report back status to Github
* [ ] You should be able to trigger builds with specific versions of go-ipfs/js-ipfs-api to be able to test compatibility
* [x] JavaScript tests should be able to run in a browser

# Tasks

- [x] Artifacts/Pipelines flow
- [x] JS side should be able to handle

[2017-01-29 14:23] victorb opened #5 "Be faster than Travis on go-ipfs commit to green status"
# Description

We want our new testing infrastructure to be able to fetch, build and test faster than our existing CI service does.

# Acceptance Criteria

* [x] Making a commit/pr on go-ipfs and waiting for the commit/pr status to turn green is faster than it is on TravisCI

# Tasks

- [x] Measure time from commit to green status with Travis
- [x] Make fetching commits fast
- [x] Make building fa

[2017-01-29 15:32] Kubuxu commented on #5
I would add: `[ ] Make it easy to throw more hardware at it`

[2017-01-29 15:33] victorb opened #6 "Replace Teamcity/TravisCI/CircleCI with Jenkins"
# Acceptance Criteria

- [ ] go-ipfs, js-ipfs-api and js-ipfs uses Jenkins instead of Teamcity/TraviCI and CircleCI

# Tasks
- [ ] Way of storing secrets for
    - [ ] Coverage uploading [CircleCI]
- [ ] Disable the services in Github
- [ ] Remove configuration files for services

# Dependencies

Depends on #1
Depends on #2
Depends on #3
Depends on #4
Depends on #5
Depends on #7

[2017-01-29 15:39] victorb opened #7 "Cross-platform workers"
# Acceptance Criteria

- [x] Tests can specify which platforms to run on and it's possible to run on:
    - [x] Linux
    - [x] OSX
    - [x] Windows

# Tasks
- [x] Configuration for workers in SCM
- [x] Deployed in production
  - [x] Linux
  - [x] OSX
  - [x] Windows

# Notes

* How to scale OSX workers?

# Dependencies

Depends on #1

[2017-01-29 16:04] ghost commented on #7
Let's call them workers ;)

[2017-01-29 18:41] Kubuxu commented on #5
Some other things to consider:

- testing utilities artifacts, I am quite sure we could shave off some time thanks to it.
- gx sources passthrough, maybe building source ball early and passing it through

[2017-01-29 20:00] Kubuxu commented on #5
Other option would be to have a ipfs node on each worker/worker cluster (local network/data center) and then ipfs would be caching those gx sources.

If we had those nodes exclusively for the builds then they could be also used as listing of past and current dependencies.

[2017-01-29 20:03] Kubuxu commented on #5
This means that we would need gx inside the build container and I would be for keeping a prebuilt version in it. This would allow us to update gx version in every repo being built very easily.

[2017-01-30 08:39] victorb opened #8 "Production jenkins deploy"
# Acceptance Criteria

* [x] Can deploy jenkins by reading documentation and having permission to deploy
* [x] No modifications can be done in the UI

# Tasks

- [x] Write deploy script for jenkins
- [x] Documentation for deploying on instance
- [x] Have instance ready
- [x] Deployed to somewhere visible
- [X] Setup domain name

# Dependencies

Depends on #1

[2017-01-30 08:49] victorb commented on #5
Thanks a lot @Kubuxu, added your points to the list of tasks

[2017-01-30 08:50] victorb commented on #7
@lgierth fixed, thanks :)

[2017-01-30 08:50] victorb opened #9 "Authentication to re-run/trigger jobs"
# Description

Since the UI will be read-only for all users in production jenkins, we'll need a way of doing authentication for our developers on the various projects so they can trigger re-runs and jobs in general when wanted

# Acceptance Criteria

* [ ] As a developer of a project, I can rerun a failed job
* [ ] As a developer on the IPFS project, I can trigger jobs

# Tasks

* [ ] Find way of

[2017-01-30 15:46] victorb commented on #1
@lgierth @Kubuxu you want to confirm that this story is done? Should be able to start jenkins locally from following the instructions in the readme.

[2017-01-30 15:58] Kubuxu commented on #1
LGTM

[2017-01-30 16:15] ghost commented on #1
LVGTM

edit: `Finished: SUCCESS`

[2017-01-30 16:16] #1 closed, assigned to victorb

[2017-01-30 16:16] victorb commented on #1
Sweet! First task in our sprint done! Let's go party! 🌞

[2017-01-30 16:21] ghost commented on #2
Remember what this means?

Can *view* the monitoring dashboard? Or: can run the dashboard *locally*, in an automated way?

[2017-01-30 16:23] victorb commented on #2
@lgierth my intention was "can view the monitoring dashboard".

Thinking about it now, we should probably have two tasks, one for being able to run monitoring locally and one for having it working in production. What you think?

[2017-01-30 16:39] ghost commented on #2
Yeah let that running-locally be separate: ipfs/infrastructure#52

[2017-01-30 16:41] victorb commented on #2
Ok, in that case, this task would depend on us running jenkins deployed somewhere before you can start working on this task. Correct?

[2017-01-30 17:05] ghost commented on #2
Nah I can get started with the local jenkins

[2017-01-31 03:52] ghost commented on #2
#11 enables the scraping endpoint for prometheus, and the dashboard is here: http://metrics.ipfs.team/dashboard/db/jenkins?from=now-1h&to=now -- I simply imported the one from [grafana.net](https://grafana.net/dashboards/306) and I'm not very convinced by it.

The dashboard will need tuning when there's actual jobs to monitor :) And that's also when we can start setting alert conditions.

Promethe

[2017-02-01 10:45] victorb commented on #4
I'll start with adding `js-ipfs` unit tests from here.

[2017-02-01 10:56] victorb commented on #8
Made PR for the initial work on this: https://github.com/ipfs/jenkins/pull/12

Missing:
- [ ] Having nginx with https proxy the requests to running jenkins instead of binding the container to :80

[2017-02-01 13:18] victorb opened #16 "Running jenkins with HTTPS"
## Acceptance Criteria

- [ ] Access jenkins via https://ci.ipfs.team
- [ ] Certificate is valid
- [ ] Navigating to http://ci.ipfs.team should redirect to https://ci.ipfs.team

## Tasks

- [x] Run production jenkins on other port than :80
- [x] Deploy nginx + config on jenkins host
- [x] Setup nginx to proxy requests to running jenkins container
- [ ] Setup Let's Encrypt

## Dependencies

Depends

[2017-02-01 15:29] victorb commented on #8
Created task for https instead: https://github.com/ipfs/jenkins/issues/16

[2017-02-01 15:54] victorb opened #17 "Make sure provsn runs start-prod.sh as jenkins user"
When running the deploy for production, we should make sure start-prod.sh either switches to the right user (`jenkins`) or that the right user is executing the script.

## Acceptance Criteria

- [x] When running `./provsn exec jenkins '/path/to/start-prod.sh $VERSION'`, everything starts up correctly, running with the jenkins user

## Tasks

[2017-02-01 15:57] victorb opened #18 "Jenkinsfile should always be fetched from master"
In case someone makes a bad PR with changes to the Jenkinsfile, like dumping our credentials or such, we'd like to always use the Jenkinsfile from master.

However, there are cases where changes to Jenkinsfile should be allowed, so we should have a way of overriding this as well, if you have the right permissions.

## Acceptance Criteria

- [x] When anyone makes a PR, Jenkins uses the Jenkinsfile

[2017-02-01 16:20] #8 closed, assigned to victorb

[2017-02-01 16:36] #17 closed, assigned to victorb

[2017-02-02 01:14] ghost commented on #2
I'm wrapping this up with ipfs/infrastructure#235 which makes all provsn units systemd-compatible, so that we now also get host metrics (cpu, ram, io).

The dashboard should start showing numbers tomorrow when @VictorBjelkholm brings jenkins back up (I broke it). Over the rest of the sprint we'll tune the dashboard and add alerts as we see fit.

[2017-02-02 01:16] ghost commented on #16
Nginx wiring is done in ipfs/infrastructure#237, https is todo.

[2017-02-02 16:28] #9 closed, assigned to victorb

[2017-02-02 16:30] victorb opened #26 "Github Authentication should provide fallback if Github is down"
If Github is down, you should still be able to login somehow to the Jenkins instance.

[2017-02-02 18:05] Kubuxu opened #27 "Close docker containers when Jenkins pipeline is killed"
# Acceptance Criteria

- [ ] Starting a job that runs a long-lived docker container should kill the container if the job is cancelled

# Tasks

- [ ] Implement a way for killing all related docker containers when job is cancelled

# Notes
Original post  from @Kubuxu

[2017-02-02 20:25] Kubuxu opened #28 "Update Jenkins"

[2017-02-03 10:15] victorb commented on #27
Hm, interesting. So "Pipeline is killed" is when you forcefully stops the job or is there an error happening?

[2017-02-03 11:44] Kubuxu commented on #27
When you stop a job via the UI. I think some combination of `-t` and `-i` flags is in play here.

[2017-02-03 11:50] victorb commented on #27
Ah, ok, I understand. So when you stop a pipeline, the docker container continuous to run, when it should be stopped together with the pipeline. Probably there is some hook in the Jenkinsfile we can use, `on-end` or something like that, where we can forcefully kill the containers involved in the pipeline.

[2017-02-03 14:38] Kubuxu commented on #27
Yeah, something like that. There is docker workflow plugin which might help.

[2017-02-04 16:58] Kubuxu opened #30 "Allow to stop builds for users allowed to start them"
# Acceptance Criteria
- [ ] As a owner of a repository that runs a job in jenkins, I should be allowed to cancel those jobs
- [ ] As a contributer to a repository that runs a job in jenkins, I should be allowed to cancel those jobs
# Tasks
- [ ] Make sure Github Authentication is setup correctly for passing AC
# Notes
Original post from @Kubuxu

[2017-02-04 17:20] ghost opened #31 "Tuning of monitoring/alerting"
We don't have good knowledge yet of how the metrics look like when actually *using* Jenkins. This issue has been split off #2, to continuously tune monitoring and alerting during the rest of the sprint (and beyond).

[2017-02-04 17:20] ghost commented on #2
Splitting off tuning and alerting to #31.

[2017-02-04 17:43] Kubuxu opened #32 "[j-bug]: blue ocean: can't select second paraller job to see its logs when first is not done"
You can test it with go-ipfs job, start it, go to blue ocean, wait for the pipeline to reach Tests, try seeing the sharness logs before `go test` is done.

[2017-02-04 18:36] Kubuxu opened #33 "bug: high Java CPU usage when test is running"
When the shanress test for go-ipfs runs java is maxing two cores. To reproduce run go-ipfs tests, wait for sharness tests to start running, open `htop` and see the CPU usage.

[2017-02-04 18:39] Kubuxu commented on #4
I think I am almost done with go-ipfs unit and sharness tests. Coverage is still pending.

[2017-02-06 10:30] victorb commented on #32
Yeah, I've been seeing this as well. We should open a bug in their issue tracker to make sure they are aware of it: https://issues.jenkins-ci.org/browse/JENKINS-41740?jql=project%20%3D%20JENKINS%20AND%20status%20in%20(Open%2C%20%22In%20Progress%22%2C%20Reopened)%20AND%20component%20%3D%20blueocean-plugin

[2017-02-06 10:31] VictorBjelkholm commented on #30
:+1:

[2017-02-06 12:19] victorb commented on #32
Another major annoyance is when the logs are still showing up and output is added, blue ocean automatically scrolls to the bottom and there is no way of turning this off...

[2017-02-06 17:45] Kubuxu opened #35 "perf: runnig workers with docker in tmpfs"
As it turns out go-ipfs testing is disk bound, by running docker in tmpfs (`/var/lib/docker` mounted as tmpfs) I was able to significantly increase test speed (8+ to 1 min).

Cons:
 - worker storage and container storage is ephemeral
 - uses much more RAM

Pros:
 - much faster

[2017-02-06 20:58] ghost commented on #35
How much storage are we talking about, 1G, 10G?

[2017-02-06 21:40] Kubuxu commented on #35
10G for the tmpfs itself should be enough.

[2017-02-06 22:07] ghost commented on #35
I imagine this will be the same bottleneck for other build targets, so we could just do it like this for everything. (Building in ramdisks is pretty common in disk heavy projects like openwrt too.)

Looks like we can have tmpfs-like drives on windows too: http://www.ltr-data.se/opencode.html/#ImDisk

[2017-02-08 03:53] #16 closed, assigned to nobody

[2017-02-08 11:19] Kubuxu opened #37 "bug: buggy closure scope in parallel"
I am hitting this bug which causes random failures: https://issues.jenkins-ci.org/browse/JENKINS-38268

[2017-02-08 11:27] Kubuxu commented on #37
The workaround that seems to work for now is naming arguments of closures differently.

[2017-02-08 12:41] Kubuxu commented on #35
Command I use: `sudo mount -t tmpfs -o size=20G tmpfs /var/lib/docker` the size can be adjusted, RAM is reserved only when space is used and it can be automatically evicted to swap.

For deployment the mount should be done in fstab.

[2017-02-09 11:18] #28 closed, assigned to victorb

[2017-02-10 12:33] victorb commented on #18
Doesn't use Jenkinsfile from master but rather from jenkins itself.

[2017-02-10 12:33] #18 closed, assigned to nobody

[2017-02-10 15:41] victorb opened #39 "Moving forward with integration"
Right now we have very basic jobs done and it would be nice to map our what's left to do and how we'll achieve this. @diasdavid @whyrusleeping @haadcode it's important for you guys to read this through and understand it since it'll impact most of your projects in one or another way.

## Current Stage - Basics

Right now we have the basics of CI setup. Jobs for unit testing go-ipfs/js-ipfs/js-ipfs-

[2017-02-10 17:02] Kubuxu commented on #27
Resolved by the docker workflow plugin. If you want to take a look how it works with more complex pipeline see go-ipfs Jenkinsfile.

[2017-02-10 17:02] #27 closed, assigned to nobody

[2017-02-10 17:05] Kubuxu opened #40 "Code coverage in Jenkins"
Unfortunately Jenkins doesn't expose git related Env Variables in pipelines currently, which blocks the code coverage reporting.

Working it around would have taken quite some time, it is reported here: https://issues.jenkins-ci.org/browse/JENKINS-35230

Acceptance Criteria:
 - [ ] go-ipfs pipeline sends Code Coverage results to Codecov
 - [ ] it can be easily replicated for other pipelines.

[2017-02-10 18:05] victorb commented on #40
I'm thinking that is gonna have to be more specific to be able to be a acceptance criteria

[2017-02-10 18:19] Kubuxu commented on #40
What I mean is to have list of variables that have to be exposes, if it is needed, have a library that generates them.

[2017-02-17 11:29] Kubuxu opened #42 "Extract Jenkinsfiles from jenkins configs to separate repo, or this one"
Having to use Jenkins UI to edit those files is not a great process and is just annoying. It would be awesome to have them in some repo separately.

I am not sure about priority of this, it isn't high.

[2017-02-17 11:35] Kubuxu opened #43 "[j-bug] Jenkins can lockup on parallel builds"
In theory main pipeline scrip runs in flyweight executor which should be possible to be put on a side when there is no resource available.

This doesn't seem like a case, we had a lockup recently where pipeline was starved out of resources (build executor nodes) by flyweight executors, and as all of them required more nodes to continue they locked up the pipeline.

Temporary fix: significantly inc

[2017-02-17 11:37] Kubuxu commented on #43
This should probably be reported to Jenkins tracker because there might be two things wrong here:

1. We are doing something wrong in our Jnekinsfiles, but I can't find anything on it.
2.Nodes that should have been flyweight aren't.

In both of those cases intervention from Jenkins is required, 1. improving docs, 2. fixing the bug.

[2017-02-17 20:34] Kubuxu commented on #43
Ok, found it, it is caused by the default code the rest of the code inside of `node`. This causes the lockup as it no longer uses flyweight executor at it's root.

[code]

@VictorBjelkholm would it be possible to run the code from the config outside of node instance?

[2017-02-20 16:37] Kubuxu commented on #43
Idea I sent to @VictorBjelkholm on IRC:
[code]

[2017-02-24 18:29] #43 closed, assigned to Kubuxu

[2017-02-24 19:15] Kubuxu opened #45 "Job timeout"
Gx might not have the file, tests might hang. We need timeouts for our jobs.

[2017-02-24 22:20] Kubuxu opened #46 "Jenkins location is wrong"
Click on jenkins status here: https://github.com/ipfs/go-ipfs/pull/3712

It redirects to unknown site.

[2017-02-26 13:33] Kubuxu opened #47 "GH API rate exceeded"
[code]

[2017-02-26 15:52] victorb commented on #47
Hm, interval branch indexing was a temporary solution and we already hit
the limits... What's missing is having an Github account with the right
permissions for setting up hooks. I'll set this up this week.

On Sun, Feb 26, 2017, 14:33 Jakub Sztandera <notifications@github.com>
wrote:

[2017-02-26 16:02] Kubuxu commented on #47
Thank you

[2017-02-27 19:27] Kubuxu opened #48 "Disable Weather reporting"
It doesn't provide much useful info as usually we are only interested in last result.

[2017-02-27 21:46] Kubuxu commented on #47
It also affects builds https://ci.ipfs.team/job/go-ipfs/job/release/2/console

[2017-03-02 11:36] victorb commented on #45
Was fixed in 4e058e4dbe5832a7f02af6f03b64d48f49e559a4

[2017-03-02 11:36] #45 closed, assigned to nobody

[2017-03-02 11:42] Kubuxu opened #50 "Make the production patch set master executors to 0"

[2017-03-02 12:45] victorb opened #53 "Update ID for key in worker"
Currently, linux-01 worker is using credentialID c1a67414-92b7-402e-b376-05aa431fa3a8 instead of the credentialID from our production config. We should write another patch in the production-secrets, where we apply a patch with the right credential ID.

Right now, after a deploy, you'd need to manually change the key here: https://ci.ipfs.team/computer/linux-01/configure

[2017-03-02 13:04] #50 closed, assigned to nobody

[2017-03-02 13:08] Kubuxu commented on #53
Can we just include this credID in default config?

[2017-03-02 13:09] victorb commented on #53
@Kubuxu yeah, sure thing. Would be much simpler.

[2017-03-02 13:17] Kubuxu opened #56 "Deployment is still not clean"
[code]

Now I will resolve it manually

[2017-03-02 13:18] Kubuxu commented on #56
Sorry, this was my fault.

[2017-03-02 13:18] victorb commented on #56
Well, we could reopen this and use a task to track moving to provsn?

[2017-03-02 13:27] Kubuxu opened #57 "[j-bug] PR from removed fork crashes branch scan"
See: https://issues.jenkins-ci.org/browse/JENKINS-41246 and https://github.com/ipfs/go-ipfs/pull/3690

[code]

[2017-03-02 23:22] #53 closed, assigned to nobody

[2017-03-02 23:22] #47 closed, assigned to nobody

[2017-03-02 23:22] #35 closed, assigned to nobody

[2017-03-02 23:23] #46 closed, assigned to nobody

[2017-03-03 12:02] victorb commented on #48
Not sure, sometimes it's valuable to see the general state of something, based on the history. You can make the assumption that a project is not very stable if the last builds on master have all been failing, and vice-versa regarding stable. But with that said, I'm not opposed of removing it either.

[2017-03-03 12:21] Kubuxu commented on #48
What is visible right away are weather reports of whole projects. In case of go-ipfs they will always be stormy as for numerous old PRs and branches that no longer merge to master.

[2017-03-03 13:51] Kubuxu commented on #40
We will have to do something like this: https://github.com/docker/jenkins-pipeline-scripts/blob/master/vars/codecov.groovy

As BRANCH_NAME in case of PRs is modified to PR-XXXX.

[2017-03-03 23:18] ghost commented on #48
I'd find "is it green right now?" much more valuable information, especially on the blueocean front page. "Just tell me whether we're okay!"

The weather report just goes back $n builds though, right?

[2017-03-04 21:03] Kubuxu commented on #48
Yes, and average or all branches and PRs in case of main page, which is useless.

There is blue, red and gray circle.

[2017-03-09 12:09] victorb opened #59 "Incompability between plugins/jenkins (?)"
Not sure about problem, but build is failing when fetching from SCM, this is the error:

[code]

Seems related to the incompatibility warnings that were published regarding the git plugins a few days ago.

Full log can be seen here: https://ci.ipfs.team/job/js-ipfs-api/view/change-requests/job/PR-521/10/console

[2017-06-01 17:17] Kubuxu opened #60 "Update jenkins"

[2017-08-22 20:09] magik6k opened #61 "No permissions when logging in with GitHub"
When logged in with github account on jenkins, user has no permissions to do anything:
![](https://assets.magik6k.net/screenshoots/9543a582-c584-4a29-a4fa-b4f084a6e72b.png
)

[2017-08-22 20:10] vyzo commented on #61
I have the same problem.

[2017-08-28 17:26] victorb opened #62 "Jenkins master running out of space"
[code]

[2017-08-29 15:16] victorb commented on #61
Yeah, currently jenkins is setup to give build rights to people in the `protocol` organization on Github. I'll add `ipfs`, `ipld`, `multiformats` and `ipld` as well, then you should have access.

[2017-08-30 13:45] victorb commented on #60
Updated to latest available version, 2.76

[2017-08-30 13:45] #60 closed, assigned to nobody

[2017-08-30 13:45] victorb commented on #61
Updated and deployed now, could you please try again and report back @vyzo @magik6k ?

[2017-08-30 13:45] #61 closed, assigned to nobody

[2017-08-30 13:46] victorb commented on #59
Fixed! 👍

[2017-08-30 13:46] #59 closed, assigned to nobody

[2017-08-30 13:50] victorb commented on #62
@lgierth you're sure this was from the jenkins master?

 Seeing this currently:

[code]

[2017-08-30 15:40] magik6k commented on #61
Works For Me (tm)

[2017-09-03 18:29] daviddias commented on #39
What's blocking this?

[2017-09-04 12:02] dignifiedquire opened #63 "Readme Badges"
Once we move to jenkins we still want badges for our readmes, ideally for

- linux tests
- os x tests
- windows tests

[2017-09-04 12:03] victorb commented on #39
@diasdavid it's outlines in the issue body, which issues are needed for each "stage"

[2017-09-04 12:40] victorb opened #64 "Disable setting commit status when in development"
Finding it increasingly confusing that a job that is under development sets the commit status on the project in Github. We should have a way of disabling this when in development.

Looked around both in our Jenkinsfiles and in the general configuration of Jenkins about this, but finding nothing, so opening issue to come back to it later.

[2017-09-04 16:28] victorb commented on #32
After updating plugins, this seems to have been fixed now.

[2017-09-04 16:28] #32 closed, assigned to nobody

[2017-10-06 08:35] victorb opened #66 "Process for handling false-positives"
We should avoid having any false-positives. But, since this is reality, it will happen on hopefully as few occasions as possible. When it does happen, we want to make sure it doesn't happen again so a process for measuring how many false-positives and handling them needs to be setup.

[2017-10-06 08:36] victorb opened #67 "Jenkins runs all code projects CI"
Projects with tests and code that are in the main organizations (ipfs, libp2p, ipld, multiformats, ipfs-shipyard) should all be using Jenkins for their CI needs. This issue is for tracking the progress.

[2017-10-06 08:37] victorb opened #68 "fs-repo migration tests across js/go-ipfs"
*Needs explaining and exploring*

[2017-10-06 09:03] victorb opened #69 "multiformats interface tests"
We'd like to have all multiformats implementations implement a small CLI interface that we can use for a testing matrix to be run in jenkins.

This issue should be split up by multiformat before starting to work on it.

[2017-10-06 09:04] victorb opened #70 "Figure out all dependency trees between projects"
We should have a nice reusable datafile with all dependencies between our projects, so we can setup jenkins to trigger upstream/downstream tests on change.

[2017-10-06 09:22] victorb opened #71 "Run tests for all api-clients for go/js-ipfs implementations"

[2017-10-06 09:22] victorb opened #72 "Third-party tests"
ipfs-station, ipfs-cluster, peerpad, y.js-connector, pubsub-room are included in integration tests for js-ipfs and go-ipfs

[2017-10-06 09:27] Stebalien commented on #66
One way to deal with this at the project level is to block merges on racy test cases (i.e., test cases that do something, sleep a few ms, and then check something).

[2017-10-06 11:29] victorb opened #73 "OSX Build Machine"
Need to decide between Mac Mini or Mac Pro...

@whyrusleeping @lgierth @Kubuxu opinions please!

[2017-10-06 11:44] victorb commented on #73
So, after thinking a bit more, I'm pretty sure we want the Mac Pro so we can run one OSX VM per jenkins agent. With the Mac Mini, that's unfeasible.

[2017-10-06 12:02] victorb commented on #73
Couple of options here with processor here...

- [ ] 3.5GHz 6-core with 12MB of L3 cache
- [ ] 3.0GHz 8-core with 25MB of L3 cache
- [ ] 2.7GHz 12-core with 30MB of L3 cache

Preferences from anyone?

[2017-10-06 12:04] victorb opened #75 "Automatic scaling of workers via APIs"

[2017-10-09 17:43] Kubuxu commented on #7
Other platform worth including would be `ARM` and also 32bit linux.

[2017-10-11 11:13] dignifiedquire commented on #7
agreed on ARM, though this means adding a full matrix of devices if done properly

[2017-10-11 16:18] Kubuxu commented on #73
No real prefference but the 8core version would allow us to run more tests/pipes at the same time.

[2017-10-11 16:57] Kubuxu commented on #7
@dignifiedquire I proposed ARM here because we broke builds on ARM recently (same with 32bit linux) and we are currently supporting both of those architectures.

We can add more mobile platforms in future but for now I think that CI should cover what we are providing on dist.ipfs.io

[2017-10-11 17:29] victorb commented on #7
Yeah, ARM as a architecture makes sense to support but going full out with a device farm (for what I'm guessing is for mobile tests) is too early at this point.

[2017-10-11 17:48] dignifiedquire commented on #7
I meant that just supporting ARM means having multiple devices as they come in different versions plus you need a single device per worker given their somewhat limited power.

On 11. Oct 2017, 19:29 +0200, ᴠɪᴄᴛᴏʀ ʙᴊᴇʟᴋʜᴏʟᴍ <notifications@github.com>, wrote:

[2017-10-11 18:00] Kubuxu commented on #7
What I mean by ARM right now is ARMv7/v8 with Linux running (which is RPi and its clones, Scaleway and many of IoT.

[2017-10-11 18:16] dignifiedquire commented on #7
I have two pis around which are entirely unused, which we could hook up.

On 11. Oct 2017, 20:00 +0200, Jakub Sztandera <notifications@github.com>, wrote:

[2017-10-11 18:21] whyrusleeping commented on #73
I think the 3.0Ghz 8core would be the best option. Especially given the doubling of the cache size

[2017-10-11 18:34] victorb commented on #7
Thanks for the offer! Right now, focus is on the three major platforms, then we can start planning for how to support ARM, 32bit linux, FreeBSD and other fun platforms.

[2017-10-19 15:37] victorb commented on #7
Depends on https://github.com/ipfs/aegir/issues/159

[2017-10-23 11:06] victorb commented on #7
Current status of this:

Managed to setup linux + windows workers via Terraform + AWS in a nice way. Doing some minor refactoring then will submit PR and later deploy it.

macOS workers are more difficult... Either set them up manually or integrate with something like vmware vSphere to create virtual workers on one or more hosts. MacStadium seems like a suitable hosts with support for this (and I'

[2017-10-23 17:01] victorb opened #76 "Make sure jenkins builds go-ipfs PRs"
Currently, there was a backlog of ~40 branches/PRs that had not been built automatically. Need to investigate why that is and make sure it runs smoothly.

[2017-10-23 17:02] victorb commented on #76
Might be related to force-pushes...

[2017-11-10 10:04] daviddias opened #78 "Status of Jenkins, should we pay to get better CI as an interim solution?"
I believe we all agree that we could use faster CI. How soon will Jenkins be ready? Should we just pay up Travis, Circle and Appveyor meanwhile?

# Appveyor

https://ci.appveyor.com/billing

![image](https://user-images.githubusercontent.com/1211152/32652924-e6a555e4-c5fd-11e7-8026-0f2152b5d2a9.png)

# Travis

https://travis-ci.com/plans

![image](https://user-images.githubusercontent.com/1211152/

[2017-11-10 17:09] dryajov commented on #78
Circle is great, I agree!

We do seem to run into more issues with travis overall, many of them end up being false positives (i.e. re-runing the build usually fixes it and it seem to happen at least %50 of the time). Travis also seems to be considerably slower than circle - I know that we run more stuff in travis that in circle, but still just the regular test run feels slower. If paying up will m

[2017-11-10 17:20] ghost commented on #78
I'd prefer if we just follow through with the Jenkins setup. If we divert attention from it again and invest time in proprietary services again, then 6 months down the road we'll be in the same situation where we're annoyed with these services.

I see no reason to challenge the consensus goal of getting rid of all the proprietary CI services.

However! Absolutely go for it if it's a simple matter

[2017-11-10 17:30] ghost commented on #78
Yes absolutely

[2017-11-10 19:34] Stebalien commented on #78
Note: Many of those *aren't* false positives, they're racy/broken tests that need to be fixed.

I'm not sure if paying for Travis will help; a lot of people have tried to pay for open source projects and gotten nowhere. Also, it appears that mac builds are slow for everyone:

* https://github.com/travis-ci/travis-ci/issues/7304#issuecomment-286242843
* https://github.com/travis-ci/travis-ci/issues

[2017-11-10 19:53] dryajov commented on #78
Hmm, I don't disagree, but is this something we've researched and confirmed or just an assumption?

[2017-11-10 20:02] Stebalien commented on #78
I haven't been counting but I look at most of the go related CI failures and this almost always appears to be the case. There *are* case where Travis doesn't retry but, even then, it's usually our fault (we don't retry downloads in our tests, our infrastructure has a hickup, something that should be pinned on the gateways isn't, etc.).

[2017-11-10 20:21] dryajov commented on #78
@Stebalien ah, I see. I think on the js side tests usually timeout and then the failures cascade, plus the stuff you described. Either way, travis fails considerably more frequently than circle and that's what I was going off of - that could either be a good thing or a bad thing, depending on how you look at it. We definitely need to take a closer look at what's causing it tho.

[2017-11-10 20:38] victorb commented on #78
I'll deploy cross-platform tests for at least all JavaScript projects today or tomorrow running on Jenkins, without the dependency tests (took longer to implement than I thought) so if you hold tight just a little bit longer, we're there :)

[2017-11-20 14:58] victorb opened #79 "Setting up right permissions for ImmutableJenkins across orgs"
@diasdavid @lgierth who can set this up.

Currently, Jenkins is using Github user `ImmutableJenkins` for cloning and trying to set commit status for commits. But that user currently doesn't have access to the right permissions for doing it's job.

ImmutableJenkins needs to have at least write permissions to function correctly on the following orgs:

- IPFS
- IPFS-Shipyard
- IPLD
- Multiformats
- l

[2017-11-20 15:15] daviddias commented on #79
@lgierth may you handle this? I believe you already started, right?

[2017-11-20 23:06] ghost commented on #79
@diasdavid could you ping this issue when the ipfs-shipyard members limit is liften?

[2017-11-21 10:15] daviddias commented on #79
@lgierth done 🚢

[2017-11-22 17:13] victorb commented on #79
This has been done and confirmed everywhere! Thanks!

[2017-11-22 17:13] #79 closed, assigned to nobody

[2017-11-23 13:14] victorb commented on #78
I'm currently submitting PRs and making sure everything builds fine on all current CIs (Jenkins, TravisCI, CircleCI and AppVeyor) but waiting for the queues on both TravisCI and AppVeyor is starting to annoy me.

I suggest we temporary upgrade those two so we have less queue waiting time and my work of migrating to Jenkins can be finished faster.

[2017-11-23 14:00] victorb commented on #78
Upgraded AppVeyor to the `Premium FOSS`

[2017-11-24 15:42] victorb commented on #67
All JavaScript projects in Multiformats now run on Jenkins! Just a few orgs left to verify 👍

[2017-11-24 15:46] victorb commented on #63
Actually already have this, but it's not per platform but rather for the status of a branch. Includes all three platforms (one fails, entire test job fail). Example from js-peer-info (flat and plastic version):

[![Build Status](https://ci.ipfs.team/buildStatus/icon?job=libp2p/js-peer-info/master)](https://ci.ipfs.team/job/libp2p/job/js-peer-info/job/master/)

[![Build Status](https://ci.ipfs.team

[2017-11-29 11:55] victorb opened #80 "IPFS-Station builds for windows, macos, linux"
Finish the work on this PR: https://github.com/ipfs-shipyard/station/pull/514

[2017-11-29 11:57] victorb opened #81 "Finish new go-ipfs job"
The new go-ipfs doesn't use docker, uses "native" workers for cross-platform builds and uses the correct Github permissions.

PR: https://github.com/ipfs/go-ipfs/pull/4430

Todo:

- [ ] Either install FUSE on workers or disable FUSE tests (ideally the first one)
- [ ] Run sharness
- [ ] Make everything pass
- [ ] Handle caching of dependencies
- [ ] Document process for upgrading Golang version
-

[2017-11-29 11:58] victorb commented on #80
Todo:

- [x] RPM builds fails
- [x] Windows/Squirrel build fails
- [x] Verify that they actually work (manual testing?)

[2017-12-05 15:48] victorb opened #82 "Support and use TAP output from sharness tests"
@whyrusleeping mentioned that sharness outputs format that complies with TAP and if we use the TAP plugin for jenkins, test output will be a lot nicer.

Plugin: https://plugins.jenkins.io/tap

[2017-12-05 19:28] magik6k commented on #82
Here is what it looks like live: https://ci.jenkins-ci.org/job/Core/job/jenkins/job/master/, having this will save tons of time when searching for sharness fails

[2017-12-05 19:33] magik6k commented on #82
There are also some ways to translate go test output into TAP:

https://github.com/handlename/tapper
https://github.com/apg/patter

[2017-12-08 17:16] victorb commented on #80
Right now, Station builds take a lot of space (each build ends up taking 400MB space, for each commit). Proposed fix from @hacdias:

[2017-12-08 18:53] hacdias commented on #80
@VictorBjelkholm the `.nupkg` and `RELEASES` files on Windows builds can **always** be removed. I tried to see if there was any kind of flag or configuration not to build that file, but it doesn't seem to exist.

[2017-12-14 14:02] victorb opened #84 "Migrate all CircleCI builds to use 14.04"
So, with the simplest and currently working CircleCI configuration file from ipfs/ci-sync, we need to use Ubuntu 14.04 instead of 12.04, that some repositories are still using.

Problem is, we cannot migrate via the circle.yml file, OR changing it via API access. We need to manually change it in the UI from their website. And once we made that change, we need to do another Git push as otherwise it

[2017-12-14 14:04] victorb commented on #82
Looked into this briefly. Jenkins prefer junit reports, so if we can find something with a binary that can convert TAP into junit xml reports, it would be super nice. The TAP plugin above only supports the old UI, not the new (blue ocean). Junit reports are support by blue ocean.

Started with the JS projects as I'm more familiar with those, and submitted a PR to ipfs/aegir which would enable us t

[2017-12-21 11:56] Kubuxu commented on #81
I would love it not to degrade performance significantly (especially on Linux), previously we were getting incremental CI times (without any dep changes) of around 2min. Key for doing that was running Go workspace (GOPATH) in tmpfs (ramfs).

Also please document process of updating Go version as we do it about every 3 months.

[2017-12-21 12:39] victorb commented on #81
Agreed. I'll make sure both of these points are addressed. Thanks for the input!

[2018-01-22 10:33] victorb opened #86 "Post-Mortem: 22-01-2018 - Bug in Windows jobs making jobs never finishing"
Due to a bug in the windows builds (piping output via `tail -f` which never finished), the windows jobs for all golang builds hang and never finished.

## Future mitigations

- Jobs should always have a time limit

[2018-01-22 16:23] victorb opened #87 "Queue github webooks for retrying if jenkins is down when event happens"
I'm unsure if Github retries webhooks if the status code returned is different from 200. We should investigate if that's the case, and if Github doesn't automatically retries, create a service that can sit in-between jenkins and retry webhook events as needed.

[2018-01-23 00:36] ghost commented on #87
I think Github does not automatically retry - it lists failures on the settings page for the webhook. What we could do is have a little webhook receiver service that queues up webhook payloads and forwards them to Jenkins whenever it's available.

@Kubuxu has set up that little service which injects webhooks for the ipfs+libp2p+ipld+multiformats orgs into Elasticsearch.

[2018-01-24 08:30] victorb commented on #7
We're running cross-platform tests now!

[2018-01-24 08:30] #7 closed, assigned to nobody

[2018-01-24 08:30] #5 closed, assigned to nobody

[2018-01-24 08:36] victorb commented on #6
Status update:

- js-ipfs-api is using jenkins already!
- js-ipfs has a PR pending, just a couple of windows tests are missing: https://github.com/ipfs/js-ipfs/pull/1103
- go-ipfs has a PR pending with a couple of things missing: https://github.com/ipfs/go-ipfs/pull/4430

[2018-01-24 08:38] victorb commented on #2
Moved infrastructure for jenkins and monitoring is not setup yet. Reopening this in the meantime.

[2018-01-25 15:27] victorb commented on #62
Jenkins is now running with EFS so won't run out of disk space anymore.

[2018-01-25 15:27] #62 closed, assigned to nobody

[2018-01-25 15:28] victorb commented on #48
Keeping this on for now.

[2018-01-25 15:28] #48 closed, assigned to nobody

[2018-01-25 15:28] victorb commented on #42
This has been done: https://github.com/ipfs/jenkins-libs/

[2018-01-25 15:28] #42 closed, assigned to nobody

[2018-01-25 15:29] victorb commented on #56
Deployment is now handled by Terraform rather than provsn.

[2018-01-25 15:29] #56 closed, assigned to nobody

[2018-01-25 15:30] victorb commented on #37
This has been resolved.

[2018-01-25 15:30] #37 closed, assigned to nobody

[2018-01-25 15:30] #33 closed, assigned to nobody

[2018-01-25 15:30] #57 closed, assigned to nobody

[2018-01-25 15:31] victorb commented on #73
Ended up going with MacStadium for now to measure how many workers we actually need.

[2018-01-25 15:31] #73 closed, assigned to nobody

[2018-01-25 15:31] #78 closed, assigned to nobody

[2018-01-25 15:31] victorb commented on #80
ipfs-**desktop** is now happily being built on jenkins for every change!

[2018-01-25 15:31] #80 closed, assigned to nobody

[2018-01-25 15:31] #86 closed, assigned to nobody

[2018-01-25 19:39] victorb commented on #2
Yay, jenkins monitoring dashboard is back online!

![image](https://user-images.githubusercontent.com/459764/35408557-db2f2106-020f-11e8-8fc4-b4e78267f7da.png)

[2018-01-25 19:39] #2 closed, assigned to nobody

[2018-01-26 12:31] victorb opened #89 "Frequent hangs when building nodejs + windows projects"
Example: https://ci.ipfs.team/job/IPFS/job/js-ipfs-api/job/PR-678/7/

This job has been running for 3 hr 54 min, and it's stuck on the windows build only.  Could be a issue with aegir as I've seen this happening locally as well.

Thread dump:

[code]

[2018-01-27 12:52] victorb opened #91 "Blue Ocean logs sometimes not properly updated"
When looking at the old console output, you can see the output as it happens.

But in Blue Ocean, sometimes it gets stuck and doesn't update properly, you'll need to refresh the page to see the updated output.

[2018-01-29 09:57] victorb commented on #89
Seems to happen on electron + windows as well. Might be something with the windows workers if we see this happen with a golang job as well.

[2018-01-29 11:10] victorb commented on #91
Quick Thought, could this be because we're doing `docker -i $image` rather than `docker -it` somehow? Haven't looked into this more yet.

[2018-01-29 13:39] ghost commented on #91
The logs in the classic jenkins UI do update properly though, right?

[2018-01-29 14:50] victorb commented on #91
@lgierth yup

[2018-02-14 15:48] vmx opened #92 "Preserve module lock file"
For JavaScript projects it would be nice if the lock file of the module (package-lock.json/yarn.lock) could be preserved as an artifact. This way a test run could easily be run locally with the same versions as on CI.

[2018-02-14 17:49] victorb commented on #92
Hm, I think that would be wrong. The lock file should come from the SCM instead, and CI should just use it. Currently we're not using any lock files in JS projects, so to make CI and local dev better, we should have some lock files. I think this work would be part of the "Setup a "Golden Standard" for module creation and maintaince" OKR for this quarter but unaware of any existing issue discussing

[2018-02-14 20:48] vmx commented on #92
Thanks for the information. I know lock files only from the Rust world and there the rule is that libraries shouldn't commit a lock file, binaries should commit a lock file. This means I need to read up on that topic in regards to JavaScript.

[2018-02-28 12:12] victorb opened #93 "Parallize aegir scripts"
I made a quick test to see if it's viable to parallize the different aegir scripts (branch here: https://github.com/ipfs/jenkins-libs/blob/parallize/vars/javascript.groovy). Reason why is because ipfs/js-ipfs jobs takes ~20 minutes from start to finish. The tests in ipfs/js-ipfs first runs nodejs tests, then browser and after that webworkers. Experiment was to run build once for each platform + no

[2018-03-06 12:06] victorb opened #94 "Be able to restart just one parallel step"
If you have a job that tests on many versions and OSes, while only one of them fail, you need to retry the entire job. Instead, we should have a parameter that can used to just select one of the versions and retry just that part in a new job.

[2018-03-12 11:58] vmx opened #95 "npm missing on macos worker"
I see CI failing on the macos 8.9.1 worker due to:

    npm: command not found

https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfs-api/detail/PR-705/14/pipeline/13

[2018-03-12 17:36] dryajov commented on #95
Can confirm, seen this pop up intermittently across several projects.

[2018-03-13 17:18] magik6k opened #96 "Go test marked as passed when it failed to build"
https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fiptb/detail/PR-47/3/pipeline/9, see the `linux/go test` part

[2018-03-14 11:39] vmx commented on #95
The worker where it always happens is `macstadium-macos-d3231d04`.

[2018-03-15 10:44] victorb commented on #95
I've disabled the worker for now and will look into it soon.

[2018-03-15 14:29] vmx opened #97 "EADDRINUSE on macos worker"
Having an EADDRINUSE error happened before, here's one case:
https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfs-api/detail/get-ci-green/37/pipeline/14

[code]

[2018-03-15 15:02] vmx opened #98 "Timestamps in logs"
It would be useful to have timestamps on every line of the logs. IIRC there's a Jenkins plugin for that.

[2018-03-15 16:02] vmx commented on #97
It seems to happen on worker macstadium-macos-69e8c913 only.

[2018-03-15 16:59] Kubuxu commented on #97
Is js using random port? IIRC form our previous experiences with MacOS on TeamCity, sometimes program instances were not closed after test finished which meant that if static port was used it would be failing.

[2018-03-15 19:40] victorb commented on #97
I've turned off the worker for now and will look into the exact cause of npm going missing.

@Kubuxu most tests are using random port but some things are not. Wrote some more about it here: https://github.com/ipfs/js-ipfsd-ctl/pull/212#issuecomment-373472578

[2018-03-16 13:40] vmx opened #99 "Previous jobs are not cancelled"
If another job is triggered and other ones on the same PR are still in the queue, those old outdated ones are not cancelled, but also run. This jams up Jenkins more then necessary.

[2018-03-20 18:47] victorb commented on #99
Thanks. Supposedly, it cancels previous builds if a new commit is made to a PR but seems like it's currently not working. Will look into it as this will degrade jenkins performance significantly.

[2018-03-22 16:54] victorb commented on #98
So, this is seemingly easy to add for the old console output but seems to not be supported for the blue ocean UI.

With that said, each command that is executed and visible in blue ocean, shows the time taken on the right side. Is this helpful? Then you can at least see how long time each command takes.

Otherwise we can always wrap every command in `ts` from moreutils, but have to figure out how

[2018-03-22 16:55] victorb commented on #98
Relevant issues from Jenkins issue tracker:

- https://issues.jenkins-ci.org/browse/JENKINS-43107
- https://issues.jenkins-ci.org/browse/JENKINS-44195

[2018-03-22 18:22] ghost commented on #98
If the workers are ubuntu, we could install the `devscripts` package and use its `annotate-output` tool, e.g. `annotate-output sh -c 'make build && make test'`

[2018-03-22 19:31] victorb commented on #98
`ts` is probably already installed anyways, and we also have windows + macos workers... Let's figure out the use case, then solutions :) But thanks for the recommendation anyways

[2018-03-26 12:47] vmx commented on #98
@VictorBjelkholm My main sue case is having a test that times out. I then add log commands to see where the time is actually spent. If every log line contains a timestamp, it's easy to see that. I'm happy to have that only on the old UI as I can switch to if if I really need to see the timestamps.

[2018-03-28 15:30] victorb opened #100 "Job library repository was changed"
Somehow, for a ipfs-cluster job, the repository that the job uses for loading the shared library was changed from `ipfs/jenkins-libs`. See this job for a example: https://ci.ipfs.team/job/IPFS/job/ipfs-cluster/job/fix%2Fwait/4/

Have no figured out why yet but fixed the issue in the meantime.

[2018-03-29 12:26] vmx opened #101 "Disk full on macos worker"
One of the macos workers is running out of disk space:
https://ci.ipfs.team/computer/macstadium-macos-9e4f36b4/

[2018-03-29 12:37] victorb commented on #101
Again? Just cleared the space yesterday, and AFAIK, all jobs clear their workspace after they are done.

I'm currently working on automating the macos worker setup, then it'll be easier to fix this once and for all. Currently I have to manually clear space via ssh...

[2018-03-29 12:39] victorb commented on #101
Ah, seems the stats were not properly updated. It's correctly reporting `11.78 GB` of free disk space now and is online again.

[2018-03-29 12:39] #101 closed, assigned to nobody

[2018-03-30 19:35] magik6k opened #102 "Consider/install benchmark plugin"
The benchmark plugin - https://wiki.jenkins.io/display/JENKINS/Benchmark+Plugin - would be useful for the [new go-ipfs job](https://github.com/ipfs/go-ipfs/pull/4530), allowing to run at least the go benchmarks.

Here is roughly what it looks like: https://github.com/jenkinsci/benchmark-plugin/blob/master/doc/HOW_TO_USE_THE_PLUGIN.md#plug-in-table-page

[2018-04-04 16:16] victorb commented on #95
The macOS workers have finally been replaced with automatically created ones and this issue was fixed in the process.

[2018-04-04 16:16] #95 closed, assigned to nobody

[2018-04-10 00:17] victorb commented on #102
It's been considered and installed :) Thanks for the recommendation!

[2018-04-10 00:17] #102 closed, assigned to victorb

[2018-04-10 07:37] victorb opened #104 "Setup system to test new dependencies"
Would be amazing to run individual tests with just some dependencies changed. We could have something that looks at PR comments and executes actions on Jenkins after parsing it.

For example, in js-ipfs-api, a comment like this could trigger a run with the dependency locked to that version:

[code]

[2018-04-11 00:44] travisperson commented on #93
I'm going to walk through some details of how tests are executed in AEgir currently just to make sure no details are missed. A lot of this is probably common knowledge, sorry if this riddle with details.

When it comes to parallelization, AEgir does not have a concept of test suites. The only concept that it has parallelization around are `targets`, but currently this parallelization is turned off

[2018-04-12 05:07] magik6k opened #105 "start-dev.sh appears to be broken"
[code]

[2018-04-19 16:48] magik6k opened #107 "Dowgrade Java on Mac workers to 1.8"
Currently Jenkins doesn't support java 1.9 [1]. Most jenkins-related stuff is running on java 1.8 now, except for mac workers. This causes it to hit a bug described in https://issues.jenkins-ci.org/browse/JENKINS-46523 - running on 1.9 breaks `hudson.util.ProcessTree` which is responsible for cleaning up leftover processes after finished jobs, which in a long-enough time causes the workers to run

[2018-04-20 09:12] victorb commented on #107
Done!

[2018-04-20 09:12] #107 closed, assigned to nobody

[2018-04-22 01:34] magik6k opened #110 "Install custom version of JUnit plugin"
I needed to install a custom version of the junit plugin with https://github.com/jenkinsci/junit-plugin/pull/66 applied to display correct test times. Source at https://github.com/magik6k/junit-plugin / hpi at https://ipfs.io/ipfs/QmcQCd4NwQZUhUj6Uh7gx2ruSLSg9cB2bt4jrdjGnLpNDb/junit.hpi. It's currently deployed from webui.

[2018-04-23 17:57] magik6k opened #111 "Add / Scale linux workers automatically"
The new go-ipfs job is using linux workers quite a bit more than windows/osx, with benchmarks there are 7 linux nodes, 2 mac and 1 windows - https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fgo-ipfs/detail/PR-4932/43/pipeline/

Would be great to either add some more linux workers or try to setup https://wiki.jenkins.io/display/JENKINS/Amazon+EC2+Plugin

[2018-04-24 11:52] victorb commented on #111
Current solution is mostly platform-independent, I would like to keep it so. However, we could probably figure out a way of automatically scaling the `count` variable in TF and deploy it depending on queue in Jenkins. Thanks for raising this!

[2018-04-26 14:51] victorb commented on #87
This is the service that kubuxu set up once upon a time: https://github.com/Kubuxu/go-gh-hook-logger/blob/master/main.go

Edit: we should refit it (if it doesn't already) to queue incoming webhooks, write them to disk and retry them to the destination until they succeed

[2018-05-07 11:36] vmx opened #112 "macOS Node.js 9.2.0 segfaults a lot"
The macOS instances running tests with Node.js 9.2.0 segfaults quite often. See e.g. the failures on https://ci.ipfs.team/job/IPLD/job/js-ipld-zcash/job/PR-8/

It mostly happened on (though others too)

 - https://ci.ipfs.team/computer/macstadium-macos-tf-49e5ba32/
 - https://ci.ipfs.team/computer/macstadium-macos-tf-b91f8557/

I also saw a successful run on 49e5ba32 with Node.JS 8.11.1 (https://c

[2018-05-07 12:08] Kubuxu commented on #94
@VictorBjelkholm I think this isn't the best path to go forward on, it doesn't scale.
Let's say you have one test that fails 30% of times. It's ok, you will have to restart 1 out of 3 times(expected runs till success is 1.5), but then you have a second test like that and then 3rd maybe 4th.

In case of 4, you would expect tests to succeed after 4 tries, and when it is 7, it gets up to 12 tires.

T

[2018-05-07 12:16] victorb commented on #94
Thanks for the input @Kubuxu! Solutions mentioned here are more like workarounds rather than proper long-term solutions.

I agree that we should focus on solving the test flakyness. We have some utilities for fixing things, like retrying failing tests up to X times before actually failing the test case.

But, even with that, we can have temporary failures in one platform + version even when tests

[2018-05-07 12:28] Kubuxu commented on #94
My concern is that we are naturally optimising for a "green CI" metric if something like this was to be implemented fixing flaky tests is outside of the scope of this metric.

This means those tests will linger for a very long time and cause problems.

[2018-05-07 12:29] victorb commented on #94
I hear your concern but our focus is not on green CI but rather passing tests, local and on CI. But there is cases where it's not the tests fault for a failure but rather tooling or something else. This feature would be for those cases.

[2018-05-29 17:01] #110 closed, assigned to nobody

[2018-05-30 12:17] victorb opened #116 "Performance issues with lots of parallel steps"
I'm trying to parallize more steps, but quickly hit some bottleneck in jenkins where the more parallel steps you have in a build, the slower **every step** becomes. So rather than taking ~1 seconds to check if a file exists in a step, it now takes 30 seconds, which is unacceptable and unworkable if we want to parallize tasks. Even steps like `withEnv`, which should be sub-second, now takes multipl

[2018-05-30 16:45] victorb commented on #93
Currently working on this, will add a new `npm run test:ci` script that will run all tests in parallel.

Todo:

- [ ] Make it possible to run `test:browser` and `test:webworker` simultaniously, requires fix in aegir to have dynamic ports in Karma, current issue is port collision
- [ ] Make junit test reports have a timestamp or something unique, so we can have many test reports for the same area o

[2018-05-30 19:18] travisperson commented on #93
I don't believe this is an issue with Karma itself. I believe Karma can handle a port already in use. When I was looking into some of this parallel work I found that the `ipfsd-ctl` server was the issue. Both the browser and webworker tests of aegir use the same hooks `browser` which causes two `ipfsd-ctl` servers to be started.

Aegir should possibly have two hooks, one for the browser and anothe

[2018-05-31 04:40] dryajov commented on #93
Agree, we need to start two ipfsd-ctl servers if we want parallel browser and webworker runs.

[2018-06-05 13:07] magik6k commented on #81
Closing as go-ipfs now has a new pipeline

[2018-06-05 13:07] #81 closed, assigned to nobody

[2018-06-05 13:11] magik6k opened #117 "Add unix label to nodes"
Some go-ipfs pipeline steps don't really care if they are executed on linux or macos, having them labeled with `unix` would allow go-ipfs pipeline to take advantage of mac workers when all linux workers are busy (also, not sure if this is a thing, but jenkins may be able to do some more balancing)

cc @VictorBjelkholm

[2018-06-05 14:03] victorb commented on #117
Yeah, that makes sense. Good suggestion

[2018-07-27 19:39] Stebalien opened #119 "golang build without gx"
I'd like to run the tests on https://github.com/libp2p/go-libp2p-examples without gx to avoid confusing new users. Would it be possible to detect the lack of gx support and use go-get in that case?

[2018-08-06 10:06] alanshaw commented on #99
+1 on this - also smarts for not building the same commit if one is already running unless it was user requested. I'm also getting a double build for the same commit as I often push a branch and then immediately open a PR.

I can open a separate issue if you want @VictorBjelkholm?

[2018-08-06 10:44] victorb commented on #99
@alanshaw no, think is fine.

Regarding double builds, idea was that branches would be tested in isolation and PRs are tested as they are merged into master, but since we almost never push branches without opening PRs, it might be better to just skip the builds that happens on branches, only do PR builds.

[2018-08-06 22:47] ghost opened #120 "Install jq on jenkins"
From @stebalien in ipfs/infrastructure#411:

[2018-08-06 22:53] ghost opened #121 "CI job for licensing signoff"
From ipfs/infrastructure#228

[2018-08-06 23:20] mikeal commented on #121
Related issue at https://github.com/ipfs/community/issues/331

One thing I want to make sure we do here is make the instructions/errors new contributors see as nice as possible. Most of the people who violate these will be new contributors who just haven't learned our policies yet.

[2018-08-07 23:36] vmx opened #122 "Linux worker out of disk space"
CI currently fails beause a (some?) Linux worker run out of disk space. See https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfs-unixfs-engine/detail/PR-223/8/pipeline/22 (and previous build of this job) for more.

[2018-08-11 20:43] Stebalien commented on #122
@VictorBjelkholm is there anything the go team can do to get this resolved?

[2018-08-12 13:47] magik6k commented on #122
There is a fix waiting in https://github.com/ipfs/go-ipfs/pull/5053/files#diff-b7ff5824046cf0b1acd30703f283738dR65, but it sort-of depends on js-api tests being stable. I'll open a separate pr for that

[2018-08-12 13:52] magik6k commented on #122
(https://github.com/ipfs/go-ipfs/pull/5374)

[2018-08-13 11:40] victorb commented on #3
This issue was moved to ipfs/testing#76

[2018-08-13 11:40] #3 closed, assigned to nobody

[2018-08-13 11:41] victorb commented on #4
This issue was moved to ipfs/testing#77

[2018-08-13 11:41] #4 closed, assigned to victorb, Kubuxu

[2018-08-13 11:41] victorb commented on #6
This issue was moved to ipfs/testing#78

[2018-08-13 11:41] #6 closed, assigned to nobody

[2018-08-13 11:41] victorb commented on #26
This issue was moved to ipfs/testing#79

[2018-08-13 11:41] #26 closed, assigned to nobody

[2018-08-13 11:41] victorb commented on #30
This issue was moved to ipfs/testing#80

[2018-08-13 11:41] #30 closed, assigned to nobody

[2018-08-13 11:41] victorb commented on #31
This issue was moved to ipfs/testing#81

[2018-08-13 11:41] #31 closed, assigned to nobody

[2018-08-13 11:41] victorb commented on #31
This issue was moved to ipfs/testing#82

[2018-08-13 11:42] victorb commented on #39
This issue was moved to ipfs/testing#83

[2018-08-13 11:42] #39 closed, assigned to victorb

[2018-08-13 11:42] victorb commented on #40
This issue was moved to ipfs/testing#84

[2018-08-13 11:42] #40 closed, assigned to nobody

[2018-08-13 11:42] victorb commented on #63
This issue was moved to ipfs/testing#85

[2018-08-13 11:42] #63 closed, assigned to nobody

[2018-08-13 11:42] victorb commented on #64
This issue was moved to ipfs/testing#86

[2018-08-13 11:42] #64 closed, assigned to nobody

[2018-08-13 11:42] victorb commented on #66
This issue was moved to ipfs/testing#87

[2018-08-13 11:42] #66 closed, assigned to nobody

[2018-08-13 11:42] victorb commented on #67
This issue was moved to ipfs/testing#88

[2018-08-13 11:42] #67 closed, assigned to nobody

[2018-08-13 11:42] victorb commented on #68
This issue was moved to ipfs/testing#89

[2018-08-13 11:42] #68 closed, assigned to nobody

[2018-08-13 11:42] victorb commented on #69
This issue was moved to ipfs/testing#90

[2018-08-13 11:42] #69 closed, assigned to nobody

[2018-08-13 11:42] victorb commented on #70
This issue was moved to ipfs/testing#91

[2018-08-13 11:42] #70 closed, assigned to nobody

[2018-08-13 11:42] victorb commented on #71
This issue was moved to ipfs/testing#92

[2018-08-13 11:42] #71 closed, assigned to nobody

[2018-08-13 11:43] victorb commented on #72
This issue was moved to ipfs/testing#93

[2018-08-13 11:43] #72 closed, assigned to nobody

[2018-08-13 11:43] victorb commented on #75
This issue was moved to ipfs/testing#94

[2018-08-13 11:43] #75 closed, assigned to nobody

[2018-08-13 11:43] victorb commented on #76
This issue was moved to ipfs/testing#95

[2018-08-13 11:43] #76 closed, assigned to nobody

[2018-08-13 11:43] victorb commented on #82
This issue was moved to ipfs/testing#96

[2018-08-13 11:43] #82 closed, assigned to nobody

[2018-08-13 11:43] victorb commented on #84
This issue was moved to ipfs/testing#97

[2018-08-13 11:43] #84 closed, assigned to nobody

[2018-08-13 11:43] victorb commented on #87
This issue was moved to ipfs/testing#98

[2018-08-13 11:43] #87 closed, assigned to nobody

[2018-08-13 11:43] victorb commented on #89
This issue was moved to ipfs/testing#99

[2018-08-13 11:43] #89 closed, assigned to nobody

[2018-08-13 11:43] victorb commented on #91
This issue was moved to ipfs/testing#100

[2018-08-13 11:43] #91 closed, assigned to nobody

[2018-08-13 11:44] victorb commented on #92
This issue was moved to ipfs/testing#101

[2018-08-13 11:44] #92 closed, assigned to nobody

[2018-08-13 11:44] victorb commented on #93
This issue was moved to ipfs/testing#102

[2018-08-13 11:44] #93 closed, assigned to victorb

[2018-08-13 11:44] victorb commented on #94
This issue was moved to ipfs/testing#103

[2018-08-13 11:44] #94 closed, assigned to nobody

[2018-08-13 11:44] victorb commented on #96
This issue was moved to ipfs/testing#104

[2018-08-13 11:44] #96 closed, assigned to nobody

[2018-08-13 11:44] victorb commented on #97
This issue was moved to ipfs/testing#105

[2018-08-13 11:44] #97 closed, assigned to nobody

[2018-08-13 11:47] victorb commented on #98
Moved to https://github.com/ipfs/testing/issues/106

[2018-08-13 11:47] #98 closed, assigned to nobody

[2018-08-13 11:47] victorb commented on #100
This issue was moved to ipfs/testing#107

[2018-08-13 11:47] #100 closed, assigned to nobody

[2018-08-13 11:47] victorb commented on #104
This issue was moved to ipfs/testing#108

[2018-08-13 11:47] #104 closed, assigned to nobody

[2018-08-13 11:48] victorb commented on #99
This issue was moved to ipfs/testing#109

[2018-08-13 11:48] #99 closed, assigned to nobody

[2018-08-13 11:49] victorb commented on #105
This issue was moved to ipfs/testing#110

[2018-08-13 11:49] #105 closed, assigned to nobody

[2018-08-13 11:49] victorb commented on #111
This issue was moved to ipfs/testing#111

[2018-08-13 11:49] #111 closed, assigned to nobody

[2018-08-13 11:49] victorb commented on #112
This issue was moved to ipfs/testing#112

[2018-08-13 11:49] #112 closed, assigned to nobody

[2018-08-13 11:50] victorb commented on #116
This issue was moved to ipfs/testing#113

[2018-08-13 11:50] #116 closed, assigned to nobody

[2018-08-13 11:50] victorb commented on #117
This issue was moved to ipfs/testing#114

[2018-08-13 11:50] #117 closed, assigned to nobody

[2018-08-13 11:50] victorb commented on #119
This issue was moved to ipfs/testing#115

[2018-08-13 11:50] victorb commented on #120
This issue was moved to ipfs/testing#116

[2018-08-13 11:50] #120 closed, assigned to nobody

[2018-08-13 11:50] victorb commented on #121
This issue was moved to ipfs/testing#117

[2018-08-13 11:50] #121 closed, assigned to nobody

[2018-08-13 11:50] victorb commented on #122
This issue was moved to ipfs/testing#118

[2018-08-13 11:50] #122 closed, assigned to nobody

[2018-08-13 11:51] victorb opened #123 "Issues now live in ipfs/testing"
Rather than opening a issue here, please go over to ipfs/testing and open the issue there: https://github.com/ipfs/testing/issues/new

[2018-08-13 14:39] Stebalien commented on #123
Should we disable issues?

[2018-08-13 14:59] victorb commented on #123
@Stebalien Maybe. I did that when I moved issues from https://github.com/ipfs/jenkins-libs/ and now none of the links to any issue there works. So if there is some place referencing to a issue in ipfs/jenkins-libs, that means that link will now 404 instead of having a redirect (manual or automatic). So went with the safer option here and left the issues open.

[2018-08-13 15:25] Stebalien commented on #123
Fair enough.

[2019-01-17 18:45] Stebalien opened #131 "Stop re-testing old PRs against master each time a PR is merged"
1. This blocks all other PRs.
2. It's a horrible waste.

[2019-01-17 18:46] Stebalien commented on #131
CC @magik6k, @victorb, and/or @eefahy.